.actionButton.actionButton {
    border: 1px solid var(--mantine-color-default-border);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-light-color);
    font-weight: 600;
    font-size: 20px;
    font-family: Arial, serif;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    height: 44px;
  }
  
  .actionButton.actionButton:hover {
    background-color: var(--mantine-color-blue-light-color);
    color: white;
  }